.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{  
  font-size: 10px;
  font-family: roboto, arial;
}

@media (min-width: 1200px) {
  .sidebar-link{
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 24px;
    height: 50px;
  }
  .sidebar-link div{
    font-size: 13px;
    margin-left: 24px;
    font-weight: 500;
  }
  .sidebar{
    width: 200px;
  }
}
